.navbar-img{
  max-height: 42px;
}

.navbar{
  background: var(--site-background);
  box-shadow: var(--site-shadow);
  border-radius: 0 0 var(--site-radius) var(--site-radius);
}

.nav-icon{
  color: var(--site-color);
}

.nav-link{
  color: var(--site-color);
}
