.tech{
  max-height: 65px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tech:hover{
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.m-t-15{
  margin-top: 25px;
}

.tech-section{
  background: var(--site-background);
}
