<div class="container-fluid">
  <div class="row">

    <div class="col-12 space"></div>

    <div class="col-md-5">
      <img
        src="https://i.postimg.cc/c1DCdQ3p/image.png"
        alt="QRGenerator"
        class="img-fluid" />
    </div>
    <div class="col-md-7 text-center">
      <h2>QR Generator</h2>
      <div class="col-12 space"></div>
      <p>Una web diseñada para crear codigos QR personalizados de una manera muy simple y totalmente gratuito. Esta aplicacion fue desarrollada para ser usada con total libertad sin tener redirecciones de por medio y esta en constante crecimiento para favorecer a la comunidad</p>
      <div class="col-12 space"></div>
      <a class="btn btn-primary" href="https://qrgenerator.lynx.net.ar/" target="_blank">
        Ir a Lynx QR Generator
      </a>
    </div>

    <div class="col-12 space"></div>

  </div>
</div>
