<section class="container-fluid">
  <div class="row">

    <div class="col-12 text-center">
      <h1>Servicios</h1>
    </div>

    <div class="col-md-4">
      <img
        src="/assets/img/services/estrategia.svg"
        class="img-fluid"
        alt="Estrategia" />
    </div>
    <div class="col-md-8 text-center info-service">
      <h2>Estrategia</h2>
      <p class="text-service">
        Realizamos análisis de tecnologías, lo que nos permite pensar la mejor forma de desarrollar tu proyecto.
      </p>
    </div>

    <div class="col-md-8 text-center info-service">
      <h2>Desarrollo de Web y Mobile</h2>
      <p class="text-service">
        Adaptamos los desarrollos para cualquier dispositivo, tanto a nivel desktop o mobile.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/services/desarrollo.svg"
        class="img-fluid"
        alt="Desarrollo de Web y Mobile" />
    </div>

    <div class="col-md-4">
      <img
        src="/assets/img/services/consultas.svg"
        class="img-fluid"
        alt="Consultas y Software a medida" />
    </div>
    <div class="col-md-8 text-center info-service">
      <h2>Consultas y Software a medida</h2>
      <p class="text-service">
        Realizamos asesorías y desarrollo de software a medida, que se ajusten a las necesidades de tu proyecto.
      </p>
    </div>

  </div>
</section>
