<section class="container-fluid">
  <div class="row">

    <div class="col-12 text-center">
      <h1>Servicios</h1>
    </div>

    <div class="col-12 text-center">
      <p class="text-service">
        El crecimiento lo obtenemos juntos, nosotros pensamos en vos y vos pensas en nostros. Somos una empresa que nace con el fin de brindar al cliente las soluciones adecuadas a sus inconvenientes.
      </p>

      <p class="text-service">
         Buscamos, en primer, lugar favorecer al cliente, “si tu proyecto crece, crecemos todos” brindando soluciones personalizadas y fáciles de adaptar a nuevos requerimientos. Nos encargamos de la totalidad de las necesidades brindando así un ecosistema libre para el negocio del cliente.
      </p>
    </div>

    <div class="col-12 div-bot"></div>

    <div class="col-md-4 bg-2">
      <img
        src="/assets/img/services/estrategia.svg"
        class="img-fluid"
        alt="Estrategia" />
    </div>
    <div class="col-md-8 text-center info-service bg-2">
      <h2>Estrategia</h2>
      <p class="text-service">
        Realizamos análisis de tecnologías, lo que nos permite pensar la mejor forma de desarrollar tu proyecto.
      </p>
    </div>

    <div class="col-12 div-bot"></div>

    <div class="col-md-8 text-center info-service">
      <h2>Desarrollo de Web y Mobile</h2>
      <p class="text-service">
        Adaptamos los desarrollos para cualquier dispositivo, tanto a nivel desktop o mobile.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/services/desarrollo.svg"
        class="img-fluid"
        alt="Desarrollo de Web y Mobile" />
    </div>

    <div class="col-12 div-bot"></div>

    <div class="col-md-4 bg-2">
      <img
        src="/assets/img/services/consultas.svg"
        class="img-fluid"
        alt="Consultas y Software a medida" />
    </div>
    <div class="col-md-8 text-center info-service bg-2">
      <h2>Consultas y Software a medida</h2>
      <p class="text-service">
        Realizamos asesorías y desarrollo de software a medida, que se ajusten a las necesidades de tu proyecto.
      </p>
    </div>

  </div>
</section>
