<div class="container-fluid m-t-15">
  <div class="row">

    <div class="col-md-6">
      <div class="text-head text-center">
        <h3>¡Soluciones pensadas para tu Empresa!</h3>
        <p class="info-head">Desarrollamos software a medida como aplicaciones web y mobile siguiendo los estándares actuales de metodologías ágiles. También armamos equipos de staff augmentation para que tu proyecto sea productivo e innovador.</p>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="/assets/img/head.svg" alt="head">
    </div>

  </div>
</div>
