<footer class="container-fluid">
  <div class="row">

    <div class="col-md-6 m-t-15">
      <h3>Software Libre</h3>
      <p class="m-t-15">
        Nuestro proyecto busca colaborar con el software libre desarrollando y creciendo junto a él. De esta forma buscamos ser más transparentes con el software que ofrecemos y tener un mejor crecimiento.
      </p>
    </div>

    <div class="col-md-3 m-t-15 text-center">
      <h3>Links Utiles</h3>
    </div>

    <div class="col-md-3 m-t-15 text-center">
      <h3>Redes Sociales</h3>
    </div>

    <div class="col-12 footer-end text-center">
      <p class="footer-end-text">Creado por Lynx Software Design</p>
    </div>

  </div>
</footer>
